.about {
	position: relative;
	width: 136.8rem;
	margin: 0 auto;
	min-height: 75rem;

	&__content {
		padding: 15rem 0;
	}

	&__story {
		display: grid;
		grid-template-columns: 1fr 2fr;
		min-height: 55rem;
	}

	&__studio {
		position: relative;
		width: 100%;
		height: 65rem;
		margin-bottom: 10rem;

		video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__feature {
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 10rem;
	}

	&__clients {
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 10rem;
		grid-row-gap: 10rem;

		.logo {
			grid-column: 1 / -1;

			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-row-gap: 2rem;

			&__container {
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					display: inline-block;
					fill: #888;
					transition: all 0.4s ease-in-out;
					cursor: pointer;

					&:hover {
						fill: #ffc300;
					}
				}
			}
		}
	}

	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10rem;

		&--btn {
			display: inline-block;
			font-size: 1.5rem;
			color: #ffc300;
			text-decoration: none;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ffc300;
			transition: all 0.3s ease-in-out;

			&:hover,
			&:focus {
				transform: translateY(-3px);
			}
		}
	}
}

.nav {
	list-style: none;
	display: flex;
	flex-direction: column;

	&-item {
		position: relative;
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 400;
		color: #ffc300;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.content {
	position: relative;

	p {
		padding-right: 20rem;
		margin-bottom: 2rem;
	}
}
