.about {
	position: relative;
	width: 136.8rem;
	margin: 0 auto;
	min-height: 75rem;

	@include media(">LGdesktop") {
		width: 144rem;
	}

	@include media("<desktop") {
		width: 100%;
	}

	@include media(">1300px", "<desktop") {
		padding: 0 10rem;
	}

	@include media(">1000px", "<1300px") {
		padding: 0 7rem;
	}

	@include media(">phone", "<1000px") {
		padding: 0 4rem;
	}

	&__content {
		padding: 15rem 0;

		@include media("<1300px") {
			padding: 12rem 0;
		}
	}

	&__story {
		display: grid;
		grid-template-columns: 1fr 2fr;
		min-height: 55vh;
	}

	&__studio {
		position: relative;
		width: 100%;
		height: 65rem;
		margin-bottom: 10rem;

		@include media("<laptop") {
			height: 45rem;
		}

		video {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__feature {
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 10rem;
	}

	&__clients {
		display: grid;
		grid-template-columns: 1fr 2fr;
		padding: 10rem;
		grid-row-gap: 10rem;

		.logo {
			grid-column: 1 / -1;

			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-row-gap: 2rem;

			&__container {
				display: flex;
				justify-content: center;
				align-items: center;

				svg {
					display: inline-block;
					fill: #888;
					transition: all 0.4s ease-in-out;
					cursor: pointer;

					&:hover {
						fill: #ffc300;
					}
				}
			}
		}
	}

	&__cta {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10rem;
	}
}

.nav {
	list-style: none;
	display: flex;
	flex-direction: column;

	&-item {
		position: relative;
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 400;
		color: #ffc300;

		@include media("<1300px") {
			font-size: 1.3rem;
		}

		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

.content {
	position: relative;

	p {
		padding-right: 20rem;
		margin-bottom: 2rem;

		@include media(">1300px", "<desktop") {
			padding-right: 10rem;
		}

		@include media(">1000px", "<1300px") {
			padding-right: 7rem;
		}

		@include media(">phone", "<1000px") {
			padding-right: 4rem;
			font-size: 1.4rem;
		}
	}
}
