.work {
	&__content {
		position: relative;
		min-height: 50rem;
		width: 136.8rem;
		margin: 0 auto;

		&-img {
			position: relative;
			width: 100%;
			height: 50rem;

			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
}

.swiper-button-prev,
.swiper-button-next {
	color: #ffc300;
}
